<!--carousel -->
<!--popup -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARRT'EMIS</title>

    <!-- font -->
    <link rel="stylesheet" href="https://use.typekit.net/snx7zgg.css">
    <link rel="stylesheet" href="/assets/style/product-detail.css">
    <!-- icon -->
    <script src="https://kit.fontawesome.com/0f0c6f90bb.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">

        <div class="product-size-pop-up hidden">
            <div class="pop-up-wrapper">
                <button class="pop-up-exit">
                    <i class="fas fa-times pop-up-exit-icon"></i>
                </button>
                <img src="/images/sizeguide.png" alt="" width="738" height="783">
            </div>
        </div>

        <div class="header">

            <div class="header-logo-part">
                <a href="/"><img src="/images/폰트LOGO.png" alt="ARRT`EMIS FONT LOGO"></a>
            </div>
            
            <div class="nav">
                <div class="nav-item portal">portal</div>
                <div class="nav-item instagram">instagram</div>
                <div class="nav-item community">community</div>
                <div class="nav-item search">search</div>
            </div>

        </div>
        <div class="header-product-tag">
            <%= product.category %>
        </div>
        <div class="main-section">
            <!-- carousel-->
            <div class="main-fitting-part">
                <div class="main-fitting-img-wrapper">
                    <% for (let i=0; i < product.partImages.length; i++) { %>
                        <img 
                            src="/images/productImage/<%= product.partImages[i]['name'] %>" 
                            alt="fitting shot"
                            width= "105"
                            height= "141"
                            class = "main-fitting-img"
                        >
                    <% } %>
                    <button class="part_prev"><i class="fas fa-angle-up"></i></button>
                    <button class="part_next"><i class="fas fa-angle-down"></i></button>
                </div>
            </div>

            <!-- carousel-->
            <div class="main-product-img-part">
                <div class="carousel-wrapper">
                    <div class="carousel">
                        <% for (let item of product.totalImages) { %>
                            <img 
                                src="/images/productImage/<%= item['name'] %>" 
                                alt="fitting shot"
                                width= "522"
                                height= "783"
                                class="main-product-img"
                            >
                        <% } %>
                    </div>
                    <div class="main-product-img-location">1/<%= product.totalImages.length%></div>
                    <button class="total_prev"><i class="fas fa-chevron-left total_prev_icon"></i></button>
                    <button class="total_next"><i class="fas fa-chevron-right total_next_icon"></i></button>
                </div>
            </div>

            <div class="main-product-options-part">
                <div class="main-product-options-wrapper">
                    <div class="main-product-name"><%= product.name %></div>
                    <div class="main-product-design">
                        <% for(let design of product.design) { %>
                            <p><%= design %></p>
                        <% } %>
                    </div>
                    <div class="main-product-material">
                        <% for(let material of product.material) { %>
                            <p><%= material %></p>
                        <% } %>
                    </div>
                    <div class="main-product-origin">Made in <%= product.origin %></div>
                    
                    <div class="main-product-color">
                        <div class="main-product-color-title">color</div>
                        <div class="main-product-color-value"><%= product.color %></div>
                    </div>

                    <div class="main-product-size">
                        <div class="main-product-size-title">size</div>
                        <div class="main-product-size-value"><%= product.size %></div>
                    </div>

                    <div class="divide-line">&nbsp;</div>

                    <div class="main-product-price">
                        <div class="main-product-price-title">price</div>
                        <div class="main-product-price-value"><%= product.price %></div>
                    </div>

                    <div class="main-product-buy">
                        <div class="main-product-buy-link">
                            <a href="#">buy</a>
                        </div>
                    </div>

                    <div class="divide-line">&nbsp;</div>

                    <button class="product-size-guide">fitting size guide <i class="fas fa-tags"></i></button>
                    <button class="product-policy">return & exchange <i class="fas fa-tags"></i></button>
                </div>
            </div>

        </div>
        
        <div class="related-section">
            related product
        </div>

        <div class="footer">

            <div class="footer-information">
                <div class="footer-item stores">stores</div>
                <div class="footer-item contact">contact</div>
                <div class="footer-item shipping-return">shippingAndReturn</div>
                <div class="footer-item policy">policy</div>
                <div class="footer-item copyright">copyright</div>
            </div>

        </div>  
    </div>

    <script src="/assets/js/productSingle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>